"*":
  "atom-material-ui":
    tabs: {}
    treeView: {}
    ui:
      animations: false
      panelShadows: true
  core:
    autoHideMenuBar: true
    themes: [
      "atom-material-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor: {}
  "exception-reporting":
    userId: "77f24774-4bbf-242c-fe16-75cc171a84c3"
  latex:
    openResultAfterBuild: false
    openResultInBackground: false
  linter:
    errorPanelHeight: 64
  "markdown-preview": {}
  "spell-check":
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "text.tex.latex"
    ]
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
